.root{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, derive(dimgray,-80%), derive(dimgray,-70%) 70%, derive(dimgray,-65%) 85%, derive(dimgray,-50%) 99%);
}
/* ___________LOGIN CSS____________ */
/* Window root */
.loginWin {
    -fx-background-color: linear-gradient(from 0% 0% to 40% 100%, derive(dimgray,-50%), derive(dimgray,-70%));
}
/* TextFields */
.loginTextField {
    -fx-text-fill: white;
    -fx-font-size:15;
    -fx-background-color: hsba(42, 0%, 0%, 0.4);
}
.loginTextField:focused {
    -fx-border-color: white;
}

.text-field.error {
    -fx-border-color:red;
}

/* LABEL ERROR */
.labelError {
    -fx-text-fill: derive(red,-10%);
    -fx-font-size:15;
    -fx-font-alignment: left;
    -fx-font-style: italic;
}

/* Buttons */
.buttype1 {
    -fx-color: orange;
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-font-weight: bold;
}
.buttype1:hover {
    -fx-color: derive(orange,20%);
}
.buttype1:disabled {
    -fx-opacity: 1.0;
    -fx-text-fill: lime;
    -fx-font-style: italic;
    -fx-background-color: transparent;
}
.buttype2 {
    -fx-background-color: transparent;
    -fx-text-fill: orange;
    -fx-font-style: italic;
    -fx-font-size: 15;
    -fx-underline: true;
}
.buttype2:hover {
    -fx-text-fill: derive(orange,50%);
}