.root{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, derive(dimgray,-80%), derive(dimgray,-70%) 70%, derive(dimgray,-65%) 85%, derive(dimgray,-50%) 99%);
}

/* ___________MAIN CSS_____________ */

/*BUTTON CSS*/
/*SHOW-HIDE USERLIST BUTTON*/
.butHide {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, transparent 0%, orange 60%);
    -fx-text-fill: transparent;
    -fx-shape: "M 0,0 H50 L 100,50 50,100 H0 Z";
    -fx-graphic-text-gap: 0em;
}
.butHide:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, transparent 0%, derive(orange,20%) 60%);
    -fx-text-fill: white;
    -fx-font-weight:bold;
}
.butHide .text {
    -fx-rotate: 0;}
.butShow {
    -fx-background-color: linear-gradient(from 100% 0% to 0% 0%, transparent 0%, orange 60%);
    -fx-text-fill: transparent;
    -fx-shape: "M 100,0 H50 L 0,50 50,100 H100 Z";
    -fx-graphic-text-gap: 0em;
}
.butShow:hover {
    -fx-background-color: linear-gradient(from 100% 0% to 0% 0%, transparent 0%, derive(orange,20%) 60%);
    -fx-text-fill: white;
    -fx-font-weight:bold;
}
.butShow .text {
    -fx-rotate: 0;}

/* SEND BUTTON*/
.butSend {
    -fx-color: orange;
    -fx-text-fill: white;
    -fx-font-weight:bold;
}
.butSend .text {
    -fx-font-size:40;
}
.butSend:hover{
    -fx-color: derive(orange,20%);
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
}

/* LOGOUT BUTTON */
.butLogout {
    -fx-background-color: hsba(0,0%,0%,0.4);
    -fx-text-fill: derive(red,70%);
    -fx-border-color: derive(red,70%);
    -fx-font-weight: bold;
    -fx-font-size: 17;
}
.butLogout:hover {
    -fx-text-fill: red;
    -fx-border-color: red;
}

/* LEAVE GROUP BUTTON */
.butleave {
    -fx-shape: "M 1,0 H8 V1 H0 Z";
    -fx-color: derive(red,-50%);
    -fx-text-fill: white;
    -fx-font-weight:bold;
}
.butleave:hover{
    -fx-color: derive(red,10%);
}

/*______________________________________*/
/*TEXT AREA CSS*/
.text-area {
    -fx-background-color: hsba(260, 60%, 5%, 0.8);
    -fx-text-fill: #FFFFFF;
    -fx-font-size:15;
}
.text-area .scroll-pane {
    -fx-background-color: hsba(260, 60%, 5%, 0.8);
}
.text-area .scroll-pane .viewport{
    -fx-background-color: hsba(260, 60%, 5%, 0.8);
}
.text-area .scroll-pane .content{
    -fx-background-color: hsba(260, 60%, 5%, 0.8);
}

/*_______________________________________*/
/* #TABPANE CSS# */
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color:transparent;
}
.tab-pane{
    -fx-background-color: transparent;
}
.context-menu {
    -fx-background-color: black;
    -fx-text-fill:white;
    -fx-highlight-fill: red;
    -fx-highlight-text-fill:green;
}
.menu-item .label {
      -fx-text-fill: white;
}
/* TABS CSS*/
/* IDLE TABS */
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size:15;
    -fx-font-weight:bold;
}

.tab-content-area {
    -fx-background-color:  transparent; /*hsba(0-360(deg) ,0-100%, 0-100%, 0-1 (%)) */
    -fx-padding: 0.0em; /* 0 padding (em = char size, px for pixels) */
}
.tab {
    -fx-color: #2730a1; /*strange blue*/
}

/* HOVER TAB */
.tab:hover {
    -fx-color: derive(#2730a1, 40%);
}

/* CURRENT TAB */
.tab:selected {
    -fx-color: white;}
.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #000000}

/* TAB CLOSE BUTTON*/
.tab-close-button {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
    -fx-scale-shape: false;
    -fx-effect: dropshadow(two-pass-box , rgba(255, 255, 255, 0.4), 1, 0.0 , 0, 1);
}
.tab-close-button:hover {
    -fx-background-color: #c00000;
}

/* Notified Tab */
.notify {
    -fx-color: #ffd000; /*lighter strange blue*/
}
.notify:hover {
    -fx-color: derive(#ffd000, 40%); /*lighter strange blue*/
}

/*CUSTOMS TABS*/
/*ADD NEW TAB TAB :) */
.addnewtab {
    -fx-color: orange;
    -fx-font-size:15;
    -fx-font-weight:bold;
}
.addnewtab:selected {
    -fx-color: orange;
    -fx-font-size:15;
    -fx-font-weight:bold;
}
.addnewtab:hover {
    -fx-color: derive(orange,20%);
}
.createC {
    -fx-background-color: hsba(260, 60%, 5%, 0.8);
}
.createC .label {
    -fx-text-fill: white;
    -fx-font-size: 20;
}
.createC .labelhint {
    -fx-text-fill: gray;
    -fx-font-style: italic;
    -fx-font-size: 15;
}
.createC .text-field {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-background-color: hsba(42, 0%, 0%, 0.4);
    -fx-border-color: white;
}
.createC .button {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-background-color: orange;
}

.createC .button:hover {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-background-color: derive(orange,20%);
}

.invitetab {
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size:15;
    -fx-font-weight:bold;
    -fx-color: magenta;
}
.invitetab:hover {
    -fx-color: derive(magenta,20%);}
.labelinvite1 {
    -fx-text-fill: orange;
    -fx-font-weight: bold;
    -fx-font-size: 21;}
.labelinvite2 {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 19;}
.butinvite1 {
    -fx-text-fill:white;
    -fx-font-size:22;
    -fx-font-weight: bold;
    -fx-background-color: lime;}
.butinvite1:hover {-fx-background-color: derive(lime,20%);}
.butinvite2 {
    -fx-text-fill:white;
    -fx-font-size:22;
    -fx-font-weight: bold;
    -fx-background-color: red;}
.butinvite2:hover {-fx-background-color: derive(red,20%);}

/*_______________________________________*/
/* RIGHT AREA CSS */
.userTitleLabel {
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, derive(#2730a1,-1%), transparent);
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-weight: bolder;
    -fx-font-size: 15;
}