.root{
}
/* LISTVIEW CSS*/
.list-view {
    -fx-background-color: transparent;
}
.list-view .scroll-bar {
    -fx-background-color: transparent;
}


/* CELLS CSS */
.list-cell {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-size:16;
    -fx-border-color: derive(dimgray,-60%);
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, derive(dimgray,-80%), derive(dimgray,-90%) 99%);
}
.list-cell:focused {
    -fx-border-color: derive(dimgray,-60%);
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, derive(dimgray,-80%), derive(dimgray,-90%) 99%);
}
.list-cell:hover {
    -fx-border-color: orange;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, derive(dimgray,-70%), derive(dimgray,-80%) 99%);
}
.me-cell{
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-border-color: lime;
}
.me-cell:focused {
    -fx-border-color: lime;
}
.me-cell:hover {
    -fx-border-color: lime;
}
.list-cell:empty {
    -fx-border-color: transparent;
    -fx-background-color: transparent;}

/* SEND MESSAGE BUTTON */
.butMessage {
    -fx-shape: "M 0,0 H5 V2 H3 L 2,3 2,2 H0 V0 Z";
    -fx-alignment: center;
    -fx-background-color: orange;
}
.butMessage:hover {
    -fx-background-color: derive(orange,50%);
}
.butInvite {
    -fx-color: lime;
    -fx-shape: "M 100,100 m -75,0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0     M 90,90 V60 H110 V90 H140 V110 H110 V140 H90 V110 H60 V90 H90 Z";
    -fx-font-size: 10;
    -fx-font-weight: bolder;
    -fx-text-fill: white;
}
.butInvite:hover {
    -fx-color: derive(lime,40%);
}

.me-cell .butMessage {
    -fx-shape: "M 0,0 Z";}
.me-cell .butInvite {
    -fx-shape: "M 0,0 Z";}

.tooltip {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* LABELS */
.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}